## Get the data

In [1]:
import pandas as pd

In [2]:
base1 = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
df1 = pd.DataFrame(base1)

In [3]:
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact
import seaborn as sns

In [4]:
df1.head(10)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,1/25/11,Employed,F,62902,...,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
6,XZ87318,Oregon,5380.898636,Yes,Basic,College,2/24/11,Employed,F,55350,...,13,0,9,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize
7,CF85061,Arizona,7216.100311,No,Premium,Master,1/18/11,Unemployed,M,0,...,68,0,4,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize
8,DY87989,Oregon,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,...,3,0,2,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
9,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,28812,...,7,0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize

## EDA (Exploratory Data Analysis)

## Show DataFrame info

In [5]:
df1.columns = df1.columns.str.lower().str.replace(' ','_')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [7]:
df1.isnull().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

## Describe DataFrame

In [8]:
df1.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

### X-Y SPLIT

In [9]:
df_num = df1.select_dtypes(exclude='object')
df_num.columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies',
       'total_claim_amount'],
      dtype='object')

In [10]:
y=df_num['total_claim_amount']
y

0        384.811147
1       1131.464935
2        566.472247
3        529.881344
4        138.130879
           ...
9129     198.234764
9130     379.200000
9131     790.784983
9132     691.200000
9133     369.600000
Name: total_claim_amount, Length: 9134, dtype: float64

In [11]:
X = df_num.drop(['total_claim_amount'], axis=1)
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2
3,7645.861827,0,106,18,65,0,7
4,2813.692575,43836,73,12,44,0,1
...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2
9130,3096.511217,21604,79,14,28,0,1
9131,8163.890428,0,85,9,37,3,2
9132,7524.442436,21941,96,34,3,0,3
9133,2611.836866,0,77,3,90,0,1

### Label Encoding

In [12]:
df_cat = df1.select_dtypes('object')
df_cat.columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [13]:
df_cat['response'].value_counts().keys()

Index(['No', 'Yes'], dtype='object', name='response')

In [14]:
df_cat['coverage'].value_counts().keys()

Index(['Basic', 'Extended', 'Premium'], dtype='object', name='coverage')

In [15]:
df_cat['education'].value_counts().keys()

Index(['Bachelor', 'College', 'High School or Below', 'Master', 'Doctor'], dtype='object', name='education')

In [16]:
df_cat['employmentstatus'].value_counts().keys()

Index(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'], dtype='object', name='employmentstatus')

In [17]:
df_cat['gender'].value_counts().keys()

Index(['F', 'M'], dtype='object', name='gender')

In [18]:
df_cat['marital_status'].value_counts().keys()

Index(['Married', 'Single', 'Divorced'], dtype='object', name='marital_status')

In [19]:
df_cat['policy_type'].value_counts().keys()

Index(['Personal Auto', 'Corporate Auto', 'Special Auto'], dtype='object', name='policy_type')

In [20]:
df_cat['sales_channel'].value_counts().keys()

Index(['Agent', 'Branch', 'Call Center', 'Web'], dtype='object', name='sales_channel')

In [21]:
df_cat['vehicle_class'].value_counts().keys()

Index(['Four-Door Car', 'Two-Door Car', 'SUV', 'Sports Car', 'Luxury SUV',
       'Luxury Car'],
      dtype='object', name='vehicle_class')

In [22]:
df_cat['vehicle_size'].value_counts().keys()

Index(['Medsize', 'Small', 'Large'], dtype='object', name='vehicle_size')

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
le = LabelEncoder()
le.fit(['No', 'Yes'])
df_cat['response']= le.transform(df_cat['response'])

le.fit(['Basic', 'Extended', 'Premium'])
df_cat['coverage']= le.transform(df_cat['coverage'])

le.fit(['Bachelor', 'College', 'High School or Below', 'Master', 'Doctor'])
df_cat['education']= le.transform(df_cat['education'])

le.fit(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'])
df_cat['employmentstatus']= le.transform(df_cat['employmentstatus'])

le.fit(['F', 'M'])
df_cat['gender']= le.transform(df_cat['gender'])

le.fit(['Married', 'Single', 'Divorced'])
df_cat['marital_status']= le.transform(df_cat['marital_status'])

le.fit(['Personal Auto', 'Corporate Auto', 'Special Auto'])
df_cat['policy_type']= le.transform(df_cat['policy_type'])

le.fit(['Agent', 'Branch', 'Call Center', 'Web'])
df_cat['sales_channel']= le.transform(df_cat['sales_channel'])

le.fit(['Four-Door Car', 'Two-Door Car', 'SUV', 'Sports Car', 'Luxury SUV','Luxury Car'])
df_cat['vehicle_class']= le.transform(df_cat['vehicle_class'])

le.fit(['Medsize', 'Small', 'Large'])
df_cat['vehicle_size']= le.transform(df_cat['vehicle_size'])

In [27]:
df_cat = df_cat.drop(['customer', 'state', 'effective_to_date', 'location_code','policy', 'renew_offer_type'], axis=1)

### Concat Dataframes

In [28]:
finalDF = df_num.merge(df_cat, how='inner', left_index=True,right_index=True)

## Linear Regression

In [29]:
df_numVF = finalDF.select_dtypes(exclude='object')
df_numVF.columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'total_claim_amount',
       'response', 'coverage', 'education', 'employmentstatus', 'gender',
       'marital_status', 'policy_type', 'sales_channel', 'vehicle_class',
       'vehicle_size'],
      dtype='object')

In [30]:
df_numVF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_lifetime_value        9134 non-null   float64
 1   income                         9134 non-null   int64
 2   monthly_premium_auto           9134 non-null   int64
 3   months_since_last_claim        9134 non-null   int64
 4   months_since_policy_inception  9134 non-null   int64
 5   number_of_open_complaints      9134 non-null   int64
 6   number_of_policies             9134 non-null   int64
 7   total_claim_amount             9134 non-null   float64
 8   response                       9134 non-null   int64
 9   coverage                       9134 non-null   int64
 10  education                      9134 non-null   int64
 11  employmentstatus               9134 non-null   int64
 12  gender                         9134 non-null   int64
 13  marital_status                 9134 non-null   int64
 14  policy_type                    9134 non-null   int64
 15  sales_channel                  9134 non-null   int64
 16  vehicle_class                  9134 non-null   int64
 17  vehicle_size                   9134 non-null   int64
dtypes: float64(2), int64(16)
memory usage: 1.3 MB

In [31]:
y=df_numVF['total_claim_amount']
y

0        384.811147
1       1131.464935
2        566.472247
3        529.881344
4        138.130879
           ...
9129     198.234764
9130     379.200000
9131     790.784983
9132     691.200000
9133     369.600000
Name: total_claim_amount, Length: 9134, dtype: float64

In [32]:
X = df_numVF.drop(['total_claim_amount'], axis=1)
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,response,coverage,education,employmentstatus,gender,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,0,0,0,1,0,1,0,0,5,1
1,6979.535903,0,94,13,42,0,8,0,1,0,4,0,2,1,0,0,1
2,12887.431650,48767,108,18,38,0,2,0,2,0,1,0,1,1,0,5,1
3,7645.861827,0,106,18,65,0,7,0,0,0,4,1,1,0,2,3,1
4,2813.692575,43836,73,12,44,0,1,0,0,0,1,1,2,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,0,0,0,1,1,1,1,3,0,1
9130,3096.511217,21604,79,14,28,0,1,1,1,1,1,0,0,0,1,0,1
9131,8163.890428,0,85,9,37,3,2,0,1,0,4,1,2,0,1,0,1
9132,7524.442436,21941,96,34,3,0,3,0,1,1,1,1,1,1,1,0,0
9133,2611.836866,0,77,3,90,0,1,0,1,1,4,1,2,0,2,5,1

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [35]:
from sklearn.preprocessing import PowerTransformer

In [36]:
pt = PowerTransformer(method='yeo-johnson', standardize=True)
pt.fit(X_train)
X_train_pt = pt.transform(X_train)
df_X_train_pt = pd.DataFrame(X_train_pt, columns=X_train.columns)
df_X_train_pt.head(3)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,response,coverage,education,employmentstatus,gender,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
0,-0.154555,0.807677,1.360867,1.657330,1.471319,-0.500344,-1.152021,2.468015,1.150305,-0.193347,-0.482703,1.016783,-0.186849,-1.656690,-1.162361,1.064989,-0.15752
1,1.102186,-1.655812,1.806474,0.058035,0.799894,-0.500344,0.873446,-0.405184,-0.796330,-0.193347,1.449643,-0.983494,1.400448,2.854720,-1.162361,0.499803,-0.15752
2,0.434349,0.401585,0.584358,1.188175,0.162640,1.953933,1.126458,-0.405184,1.150305,1.472969,-0.482703,-0.983494,-0.186849,0.309129,0.174922,1.250711,-0.15752

In [37]:
X_test_pt = pt.transform(X_test)
df_X_test_pt = pd.DataFrame(X_test_pt, columns=X_train.columns)
df_X_test_pt.head(3)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,response,coverage,education,employmentstatus,gender,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
0,-0.580388,0.892951,0.782412,-1.675324,0.129050,-0.500344,-1.152021,-0.405184,-0.796330,1.042385,-0.482703,1.016783,-0.186849,0.309129,-1.162361,0.826490,-0.157520
1,-0.116343,0.148364,-0.709595,-0.698111,-1.431989,-0.500344,0.873446,-0.405184,-0.796330,1.042385,-0.482703,-0.983494,1.400448,0.309129,-1.162361,1.250711,-0.157520
2,-0.771454,1.079498,0.420686,-1.278645,-0.254527,-0.500344,-1.152021,2.468015,1.150305,-0.193347,-0.482703,-0.983494,-0.186849,0.309129,-1.162361,1.250711,1.696109

In [38]:
from sklearn.linear_model import LinearRegression as LinReg
linreg=LinReg()   
linreg.fit(X_train, y_train)   
y_pred_train = linreg.predict(X_train)
y_pred_test=linreg.predict(X_test)

In [39]:
linreg_pt = LinReg()
linreg_pt.fit(df_X_train_pt, y_train)
y_pred_train_pt = linreg_pt.predict(df_X_train_pt)

train_score_pt=linreg_pt.score(df_X_train_pt, y_train)
train_score_pt

0.46052937776167435

In [40]:
y_pred_test_pt = linreg_pt.predict(df_X_test_pt)
test_score_pt=linreg_pt.score(df_X_test_pt, y_test)
test_score_pt

0.4232518134556249

In [41]:
from sklearn.metrics import mean_squared_error as mse
train_mse = mse(y_pred_train_pt,y_train)
test_mse = mse(y_pred_test_pt,y_test)
train_mse, test_mse

(46140.21517190623, 46653.155129213716)

## Model Validation

In [42]:
train_score=linreg.score(X_train, y_train) #R2
test_score=linreg.score(X_test, y_test)
train_score, test_score

(0.5534935987311982, 0.5390451929011741)

In [43]:
train_mse = mse(y_pred_train,y_train)
test_mse = mse(y_pred_test,y_test)
train_mse, test_mse

(38189.1072116149, 37286.62980630579)

In [44]:
from sklearn.metrics import mean_absolute_error as mae
train_mae = mae(y_pred_train,y_train)
test_mae = mae(y_pred_test,y_test)
train_mae, test_mae

(140.2241991006184, 140.3767821468588)

## Improving the model

In [45]:
yt=df_num['total_claim_amount']
Xt=df_num.drop(['total_claim_amount'], axis=1)

In [46]:
Xf_train, Xf_test, yf_train, yf_test = train_test_split(Xt,yt, test_size=0.25, random_state=42)

In [47]:
linregt=LinReg()
linregt.fit(Xf_train,yf_train)
y_pred_train = linregt.predict(Xf_train)

In [48]:
train_score_t = linregt.score(Xf_train, yf_train)
train_score_t

0.5217065876763484

In [49]:
y_pred_test = linregt.predict(Xf_test)
test_score_t = linregt.score(Xf_test, yf_test)
test_score_t

0.508388170168562

In [51]:
linreg.fit(df_X_train_pt, y_train)   # model train
y_pred_train = linreg.predict(df_X_train_pt)
train_score=linreg.score(df_X_train_pt, y_train)
train_score

0.46052937776167435